<header>
    <div class="navigation">
        <div class="container">
            <div id="logo">
                <a href="#">
                    <p>zapis</p>
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <select name="cities" id="cities">
                                <option value="almaty">АЛМАТЫ</option>
                                <option value="astana">АСТАНА</option>
                                <option value="shymkent">ШЫМКЕНТ</option>
                                <option value="aktau">АКТАУ</option>
                            </select>
                        </li>
                        <li>
                            <a href="#">Стать партнером</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                        <li class="sign-up">
                            <a href="#">Регистрация</a>
                        </li>
                        <li class="sign-in">
                            <a href="#">Войти</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="container">
        <ul>
            <li><a>Парикмахерские услуги</a></li>
            <li><a>Ногтевой сервис</a></li>
            <li><a>Брови</a></li>
            <li><a>Удаление волос</a></li>
            <li><a>Уход за телом</a></li>
            <li><a>Макияж</a></li>
            <li><a>Косметология</a></li>
            <li><a>Тату и пирсинг</a></li>
        </ul>
    </div>
    </div>

</header>
