<header>
    <div class="navigation">
        <div class="container">
            <div id="logo">
                <a href="#">
                    <p>zapis</p>
                </a>
            </div>
            <div>
                <nav>
                    <ul>
                        <li>
                            <select name="cities" id="cities">
                                <option value="almaty">АЛМАТЫ</option>
                                <option value="astana">АСТАНА</option>
                                <option value="shymkent">ШЫМКЕНТ</option>
                                <option value="aktau">АКТАУ</option>
                            </select>
                        </li>
                        <li>
                            <a href="https://zapis.kz/partneram">Стать партнером</a>
                        </li>
                        <li class="sign-up">
                            <a [routerLink]="['sign-up']">Регистрация</a>
                        </li>
                        <li class="sign-in">
                            <a [routerLink]="['sign-in']">Войти</a>
                        </li>
                      <li>
                        <a [routerLink]="['profile']">Личный кабинет</a>
                      </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="container">
        <ul>
            <li><a [routerLink]="['services', '1']">Парикмахерские услуги</a></li>
            <li><a [routerLink]="['services', '2']">Ногтевой сервис</a></li>
            <li><a [routerLink]="['services', '3']">Брови</a></li>
            <li><a [routerLink]="['services', '4']">Удаление волос</a></li>
            <li><a [routerLink]="['services', '5']">Уход за телом</a></li>
            <li><a [routerLink]="['services', '6']">Макияж</a></li>
            <li><a [routerLink]="['services', '7']">Косметология</a></li>
            <li><a [routerLink]="['services', '8']">Тату и пирсинг</a></li>
        </ul>
    </div>
    </div>

</header>
