.main{
  display: block;
}
.container{
  display: block;
  margin: 0 auto;
  max-width: 1140px;
}
.container img {
  width: 47%;
  display: inline-block;
  margin: 50px;
  border-radius: 20px;
}
.container .info {
  margin-top: 50px;
  border: 2px solid ghostwhite;
  border-radius: 10px;
  float: left;
  width: 40%;
  display: inline-block;
  padding: 10px;
}
p{
  color: #c2c2c2;
  font-size: 19px;
  margin: 5px 0;
}

h4{
  font-size: 24px;
  margin-bottom: 5px;
}

.salon_info{
  border-bottom: 1px solid darkgoldenrod;
  padding-bottom: 5px;
}
.about{
  padding-bottom: 5px;
}
h3{
  margin-bottom: 5px;
}
.about p{
  color: #848484;
  font-size: 16px;
  line-height: 18px;
}

button{
  cursor: pointer;
  border: none;
  background: #70d36e;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0;
  text-decoration: none;
}
button:hover{
  background: #5cb15b;
}
.about p.open{
  color: #5cb15b;
}
.about p.close{
  color: crimson;
}
.rating{
  font-size: 22px;
  line-height: 17px;
  height: 17px;
  font-weight: 500;
  color: #ffd315;
}
.rating .high{
  color: #ffd315;
}
.rating .low{
  color: #e6d06d;
}
