.salons {
  float: left;
  width: 22%;
  margin: 10px;
  padding: 5px;
  border: 2px solid ghostwhite;
  border-radius: 10px;
}

.salons img{
  width: 95%;
  margin: 5px;
  border-radius: 5px;
}
h4, p{
  margin: 0;
  text-align: left;
  padding-left: 10px;
}
p{
  font-size: 13px;
  color: #c2c2c2;
}
.rating{
  line-height: 17px;
  height: 17px;
  font-weight: 500;
  color: #ffd315;
}
.rating .high{
  color: #ffd315;
}
.rating .low{
  color: #e6d06d;
}
